# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# App specific
backend/downloads/
backend/model/
backend/transcripts_cache.json
backend/cookies.txt
backend/cookies_ig.txt
backend/NULL
backend/__pycache__/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
